version: '3.9'

services:
  indexer-chronos-process:
    container_name: indexer-chronos-process
    image: public.ecr.aws/l9h3g6c6/injective-indexer:${CHRONOS_PROCESS_VERSION}
    pull_policy: always
    restart: always
    command: injective-indexer chronos-process
    logging:
      driver: journald
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${HOSTNAME}
    depends_on:
      - indexer-exchange-api
    environment:
      # universal
      INDEXER_LOG_LEVEL: ${LOG_LEVEL}
      #${LOG_LEVEL}
      INDEXER_ENV: ${APP_ENV}
      INDEXER_SERVICE_WAIT_TIMEOUTEVEL: 1m
      # bugsnag
      APP_ENV: ${APP_ENV}
      APP_VERSION: ${CHRONOS_APP_VERSION}
      LOG_BUGSNAG_KEY: ${LOG_BUGSNAG_KEY}
      LOG_BUGSNAG_ENABLED: ${LOG_BUGSNAG_ENABLED}
      ## statsd
      INDEXER_STATSD_AGENT: ${INDEXER_STATSD_AGENT}
      INDEXER_STATSD_PREFIX: indexer-chronos-process
      INDEXER_STATSD_ADDR: host.docker.internal:8125
      INDEXER_STATSD_STUCK_DUR: 5m
      INDEXER_STATSD_MOCKING: ${INDEXER_STATSD_MOCKING}
      INDEXER_STATSD_DISABLED: ${INDEXER_STATSD_DISABLED}
      # exchange
      INDEXER_EXCHANGE_RPC_ADDR: ${INDEXER_EXCHANGE_RPC_ADDR}
      # pprof
      INDEXER_PPROF_ENABLED: "false"
      INDEXER_PPROF_ADDR: "0.0.0.0:6060"
      # cmd specific
      # cosmos
      INDEXER_PROTO_ALLOW_UNKNOWN_FIELDS: ${INDEXER_PROTO_ALLOW_UNKNOWN_FIELDS}
      INDEXER_COSMOS_GRPC_ENDPOINTS: ${INDEXER_COSMOS_GRPC_ENDPOINTS}
      INDEXER_TENDERMINT_RPC_ENDPOINTS: ${INDEXER_TENDERMINT_RPC_ENDPOINTS}
      INDEXER_COSMOS_CHAIN_ID: ${CHAIN_ID}
      INDEXER_BLOCK_FETCH_JOBS: ${INDEXER_BLOCK_FETCH_JOBS}
      INDEXER_MAX_BLOCK_FETCH_JOBS: ${INDEXER_MAX_BLOCK_FETCH_JOBS}
      INDEXER_MIN_BLOCK_FETCH_JOBS: ${INDEXER_MIN_BLOCK_FETCH_JOBS}
      INDEXER_DB_EVENTPROVIDER_ENDPOINT: ${INDEXER_DB_EVENTPROVIDER_ENDPOINT}
      INDEXER_DB_EVENTPROVIDER_GRPC_ADDRESS: ${INDEXER_DB_EVENTPROVIDER_GRPC_ADDRESS}
      INDEXER_COSMOS_TLS_ENABLED: ${INDEXER_COSMOS_TLS_ENABLED}
      INDEXER_DB_MONGO_ASYNC_INDEXING: "true"
      # soon to be deprecated cosmos vars#
      INDEXER_TENDERMINT_RPC: ${INDEXER_TENDERMINT_RPC}
      INDEXER_COSMOS_GRPC: ${INDEXER_COSMOS_GRPC}
      # chronos
      INDEXER_CHRONOS_DATA_PATH: var/data
      INDEXER_CHRONOS_RPC_ADDR: 0.0.0.0:5500
      INDEXER_CHAIN_START_HEIGHT: ${INDEXER_CHAIN_START_HEIGHT}
      INDEXER_CHRONOS_RELAYER_ADDRESS: ${INDEXER_CHRONOS_RELAYER_ADDRESS}
      INDEXER_CHRONOS_LEADERBOARD_CROSS_MARKET_IDS: ${INDEXER_CHRONOS_LEADERBOARD_CROSS_MARKET_IDS}
      INDEXER_CHRONOS_LEADERBOARD_CUSTOM_RES: ${INDEXER_CHRONOS_LEADERBOARD_CUSTOM_RES}
      INDEXER_VOLUME_SINGLE_SIDE_HEIGHT: ${INDEXER_VOLUME_SINGLE_SIDE_HEIGHT}

      INDEXER_HTTP_TLS_CERT: /apps/data/public.crt
      INDEXER_HTTP_TLS_KEY: /apps/data/private.key
      INDEXER_HTTP_HORACLE_ADDR: ${INDEXER_HTTP_HORACLE_ADDR}
      INDEXER_HTTP_EP_ADDR: ${INDEXER_HTTP_EP_ADDR}
      INDEXER_HEALTH_BLOCKDIFF_THRESHOLD: 30
      INDEXER_HEALTH_TIMEDIFF_THRESHOLD: 60
      # Soon to be deprecated horacle env vars
      INDEXER_HTTP_HORACLE_BLOCK_THRESHOLD: 30
      INDEXER_HTTP_HORACLE_TIMESTAMP_THRESHOLD:  60
    ports:
      - 5500:5500
      - 6073:6060
    deploy:
      resources:
        limits:
          memory: ${INDEXER_CHRONOS_PROCESS_MEMORY_LIMIT}
    networks:
      - injective
    volumes:
      - ./volumes/chronos:/apps/data/var/data

  indexer-chronos-api:
    container_name: indexer-chronos-api
    image: public.ecr.aws/l9h3g6c6/injective-indexer:${CHRONOS_API_VERSION}
    pull_policy: always
    restart: always
    command: injective-indexer chronos-api
    logging:
      driver: journald
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${HOSTNAME}
    environment:
      # universal
      INDEXER_LOG_LEVEL: ${LOG_LEVEL}
      INDEXER_ENV: ${APP_ENV}
      INDEXER_SERVICE_WAIT_TIMEOUTEVEL: 1m
      # bugsnag
      APP_ENV: ${APP_ENV}
      APP_VERSION: ${CHRONOS_APP_VERSION}
      LOG_BUGSNAG_KEY: ${LOG_BUGSNAG_KEY}
      LOG_BUGSNAG_ENABLED: ${LOG_BUGSNAG_ENABLED}
      ## statsd
      INDEXER_STATSD_AGENT: ${INDEXER_STATSD_AGENT}
      INDEXER_STATSD_PREFIX: indexer-chronos-api
      INDEXER_STATSD_ADDR: host.docker.internal:8125
      INDEXER_STATSD_STUCK_DUR: 5m
      INDEXER_STATSD_MOCKING: ${INDEXER_STATSD_MOCKING}
      INDEXER_STATSD_DISABLED: ${INDEXER_STATSD_DISABLED}
      ## pprof
      INDEXER_PPROF_ENABLED: "false"
      INDEXER_PPROF_ADDR: "0.0.0.0:6060"
      # cmd specific
      INDEXER_ASSETS_SERVICE_URL: ${INDEXER_ASSETS_SERVICE_URL}
      ASSET_SERVICE_GRPC_ADDRESS: ${ASSET_SERVICE_GRPC_ADDRESS}
      ASSET_SERVICE_USE_HTTP: ${ASSET_SERVICE_USE_HTTP}
      ## chronos
      INDEXER_CHRONOS_RPC_ADDR: tcp://indexer-chronos-process:5500
      INDEXER_COSMOS_TLS_ENABLED: ${INDEXER_COSMOS_TLS_ENABLED}
      ## mongo
      INDEXER_DB_MONGO_CONNECTION: ${INDEXER_DB_MONGO_CONNECTION}
      INDEXER_DB_MONGO_DBNAME: ${INDEXER_DB_MONGO_DBNAME}
      ## service
      INDEXER_HTTP_LISTEN_ADDR: 0.0.0.0:4445
      INDEXER_HTTP_TLS_CERT: /apps/data/public.crt
      INDEXER_HTTP_TLS_KEY: /apps/data/private.key
      INDEXER_HTTP_HORACLE_ADDR: ${INDEXER_HTTP_HORACLE_ADDR}
      INDEXER_HTTP_EP_ADDR: ${INDEXER_HTTP_EP_ADDR}
      INDEXER_HEALTH_BLOCKDIFF_THRESHOLD: 30
      INDEXER_HEALTH_TIMEDIFF_THRESHOLD: 60
      # Soon to be deprecated horacle env vars
      INDEXER_HTTP_HORACLE_BLOCK_THRESHOLD: 30
      INDEXER_HTTP_HORACLE_TIMESTAMP_THRESHOLD:  60
      INDEXER_EXCHANGE_RPC_ADDR: ${INDEXER_EXCHANGE_RPC_ADDR}
    ports:
      - 4445:4445
      - 6074:6060
    deploy:
      resources:
        limits:
          memory: ${INDEXER_CHRONOS_API_MEMORY_LIMIT}
    networks:
      - injective

  indexer-explorer-process:
    container_name: indexer-explorer-process
    image: public.ecr.aws/l9h3g6c6/injective-indexer:${EXPLORER_PROCESS_VERSION}
    restart: always
    command: injective-indexer explorer-process
    logging:
      driver: journald
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${HOSTNAME}
    environment:
      # universal
      INDEXER_LOG_LEVEL: ${LOG_LEVEL}
      INDEXER_ENV: ${APP_ENV}
      INDEXER_SERVICE_WAIT_TIMEOUTEVEL: 1m
      # bugsnag
      APP_ENV: ${APP_ENV}
      APP_VERSION: ${EXPLORER_APP_VERSION}
      LOG_BUGSNAG_KEY: ${LOG_BUGSNAG_KEY}
      LOG_BUGSNAG_ENABLED: ${LOG_BUGSNAG_ENABLED}
      ## statsd
      INDEXER_STATSD_AGENT: ${INDEXER_STATSD_AGENT}
      INDEXER_STATSD_PREFIX: indexer-explorer-process
      INDEXER_STATSD_ADDR: host.docker.internal:8125
      INDEXER_STATSD_STUCK_DUR: 5m
      INDEXER_STATSD_MOCKING: ${INDEXER_STATSD_MOCKING}
      INDEXER_STATSD_DISABLED: ${INDEXER_STATSD_DISABLED}
      ## pprof
      INDEXER_PPROF_ENABLED: "false"
      INDEXER_PPROF_ADDR: "0.0.0.0:6060"
      # cmd specific
      ## mongo
      INDEXER_DB_MONGO_CONNECTION: ${INDEXER_DB_MONGO_CONNECTION}
      INDEXER_DB_MONGO_DBNAME: explorerV2
      INDEXER_DB_MIGRATION_VERSION:
      INDEXER_DB_MIGRATION_HEIGHT:
      INDEXER_DB_PAUSE_HEIGHT:
      INDEXER_DB_EVENTPROVIDER_GRPC_ADDRESS: ${INDEXER_DB_EVENTPROVIDER_GRPC_ADDRESS}
      INDEXER_DB_BLOCK_BATCH: 100
      INDEXER_DB_MONGO_ASYNC_INDEXING: "true"
      # cosmos
      INDEXER_PROTO_ALLOW_UNKNOWN_FIELDS: ${INDEXER_PROTO_ALLOW_UNKNOWN_FIELDS}
      INDEXER_COSMOS_CHAIN_ID: ${CHAIN_ID}
      INDEXER_COSMOS_GRPC_ENDPOINTS: ${INDEXER_COSMOS_GRPC_ENDPOINTS}
      INDEXER_TENDERMINT_RPC_ENDPOINTS: ${INDEXER_TENDERMINT_RPC_ENDPOINTS}
      INDEXER_BLOCK_FETCH_JOBS: 2
      INDEXER_MAX_BLOCK_FETCH_JOBS: ${INDEXER_MAX_BLOCK_FETCH_JOBS}
      INDEXER_MIN_BLOCK_FETCH_JOBS: ${INDEXER_MIN_BLOCK_FETCH_JOBS}
      INDEXER_CHAIN_START_HEIGHT: ${INDEXER_CHAIN_START_HEIGHT}
      INDEXER_COSMOS_TLS_ENABLED: ${INDEXER_COSMOS_TLS_ENABLED}
      # soon to be deprecated cosmos vars#
      INDEXER_TENDERMINT_RPC: ${INDEXER_TENDERMINT_RPC}
      INDEXER_COSMOS_GRPC: ${INDEXER_COSMOS_GRPC}

      INDEXER_HTTP_LISTEN_ADDR: 0.0.0.0:4444
      INDEXER_GRPC_LISTEN_ADDR: 0.0.0.0:9910
      INDEXER_HTTP_TLS_CERT: /apps/data/public.crt
      INDEXER_HTTP_TLS_KEY: /apps/data/private.key
      INDEXER_HTTP_HORACLE_ADDR: ${INDEXER_HTTP_HORACLE_ADDR}
      INDEXER_HTTP_EP_ADDR: ${INDEXER_HTTP_EP_ADDR}
      INDEXER_HEALTH_BLOCKDIFF_THRESHOLD: 30
      INDEXER_HEALTH_TIMEDIFF_THRESHOLD: 60
      # Soon to be deprecated horacle env vars
      INDEXER_HTTP_HORACLE_BLOCK_THRESHOLD: 30
      INDEXER_HTTP_HORACLE_TIMESTAMP_THRESHOLD:  60
      INDEXER_EXPLORER_STATS_ENABLED: ${INDEXER_EXPLORER_STATS_ENABLED}
      INDEXER_COSMOS_LCD_URL: ${INDEXER_COSMOS_LCD_URL}
    ports:
      - 6075:6060
      - 19911:9910
      - 14446:4444
    deploy:
      resources:
        limits:
          memory: 8G
    networks:
      - injective

  indexer-explorer-api:
    container_name: indexer-explorer-api
    image: public.ecr.aws/l9h3g6c6/injective-indexer:${EXPLORER_API_VERSION}
    restart: always
    command: injective-indexer explorer-api
    logging:
      driver: journald
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${HOSTNAME}
    environment:
      # universal
      INDEXER_LOG_LEVEL: ${LOG_LEVEL}
      INDEXER_ENV: ${APP_ENV}
      INDEXER_SERVICE_WAIT_TIMEOUTEVEL: 1m
      # bugsnag
      APP_ENV: ${APP_ENV}
      APP_VERSION: ${EXPLORER_APP_VERSION}
      LOG_BUGSNAG_KEY: ${LOG_BUGSNAG_KEY}
      LOG_BUGSNAG_ENABLED: ${LOG_BUGSNAG_ENABLED}
      ## statsd
      INDEXER_STATSD_AGENT: ${INDEXER_STATSD_AGENT}
      INDEXER_STATSD_PREFIX: indexer-explorer-api
      INDEXER_STATSD_ADDR: host.docker.internal:8125
      INDEXER_STATSD_STUCK_DUR: 5m
      INDEXER_STATSD_MOCKING: ${INDEXER_STATSD_MOCKING}
      INDEXER_STATSD_DISABLED: ${INDEXER_STATSD_DISABLED}
      ## pprof
      INDEXER_PPROF_ENABLED: "false"
      INDEXER_PPROF_ADDR: "0.0.0.0:6060"
      # cmd specific
      ## mongo
      INDEXER_DB_MONGO_CONNECTION: ${INDEXER_DB_MONGO_CONNECTION}
      INDEXER_DB_MONGO_DBNAME: explorerV2
      INDEXER_DB_MONGO_ASYNC_INDEXING: "true"
      ## cosmos
      INDEXER_COSMOS_GRPC_ENDPOINTS: ${INDEXER_COSMOS_GRPC_ENDPOINTS}
      INDEXER_TENDERMINT_RPC_ENDPOINTS: ${INDEXER_TENDERMINT_RPC_ENDPOINTS}
      # soon to be deprecated cosmos vars#
      INDEXER_TENDERMINT_RPC: ${INDEXER_TENDERMINT_RPC}
      INDEXER_COSMOS_GRPC: ${INDEXER_COSMOS_GRPC}
      ## service
      INDEXER_GRPC_LISTEN_ADDR: 0.0.0.0:9910
      INDEXER_HTTP_LISTEN_ADDR: 0.0.0.0:4444
      INDEXER_HTTP_TLS_CERT: /apps/data/public.crt
      INDEXER_HTTP_TLS_KEY: /apps/data/private.key
      INDEXER_HTTP_HORACLE_ADDR: ${INDEXER_HTTP_HORACLE_ADDR}
      INDEXER_HTTP_EP_ADDR: ${INDEXER_HTTP_EP_ADDR}
      INDEXER_HEALTH_BLOCKDIFF_THRESHOLD: 30
      INDEXER_HEALTH_TIMEDIFF_THRESHOLD: 60
      # Soon to be deprecated horacle env vars
      INDEXER_HTTP_HORACLE_BLOCK_THRESHOLD: 30
      INDEXER_HTTP_HORACLE_TIMESTAMP_THRESHOLD:  60
    ports:
      - 4446:4444
      - 9911:9910
      - 6076:6060
    deploy:
      resources:
        limits:
          memory: 4G
    networks:
      - injective

  indexer-eventprovider-process:
    container_name: indexer-eventprovider-process
    image: public.ecr.aws/l9h3g6c6/injective-indexer:${EVENTPROVIDER_PROCESS_VERSION}
    pull_policy: always
    restart: always
    command: injective-indexer eventprovider-process
    logging:
      driver: journald
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${HOSTNAME}
    environment:
      # universal
      INDEXER_LOG_LEVEL: ${LOG_LEVEL}
      INDEXER_ENV: ${APP_ENV}
      INDEXER_SERVICE_WAIT_TIMEOUTEVEL: 1m
      # bugsnag
      APP_ENV: ${APP_ENV}
      APP_VERSION: ${EVENTPROVIDER_APP_VERSION}
      LOG_BUGSNAG_KEY: ${LOG_BUGSNAG_KEY}
      LOG_BUGSNAG_ENABLED: ${LOG_BUGSNAG_ENABLED}
      ## statsd
      INDEXER_STATSD_AGENT: ${INDEXER_STATSD_AGENT}
      INDEXER_STATSD_PREFIX: indexer-eventprovider-process
      INDEXER_STATSD_ADDR: host.docker.internal:8125
      INDEXER_STATSD_STUCK_DUR: 5m
      INDEXER_STATSD_MOCKING: ${INDEXER_STATSD_MOCKING}
      INDEXER_STATSD_DISABLED: ${INDEXER_STATSD_DISABLED}
      ## pprof
      INDEXER_PPROF_ENABLED: "false"
      INDEXER_PPROF_ADDR: "0.0.0.0:6060"
      # cmd specific
      ## mongo
      INDEXER_DB_MONGO_CONNECTION: ${INDEXER_DB_MONGO_CONNECTION}
      INDEXER_DB_MONGO_DBNAME: eventProviderV2
      INDEXER_DB_BLOCK_BATCH: 50
      INDEXER_DB_MONGO_ASYNC_INDEXING: "true"
      ## cosmos
      INDEXER_COSMOS_CHAIN_ID: ${CHAIN_ID}
      INDEXER_COSMOS_GRPC_ENDPOINTS: ${INDEXER_COSMOS_GRPC_ENDPOINTS}
      INDEXER_TENDERMINT_RPC_ENDPOINTS: ${INDEXER_TENDERMINT_RPC_ENDPOINTS}
      INDEXER_BLOCK_FETCH_JOBS: ${INDEXER_EVENTPROVIDER_BLOCK_FETCH_JOBS}
      INDEXER_CHAIN_START_HEIGHT: ${INDEXER_CHAIN_START_HEIGHT}
      INDEXER_COSMOS_TLS_ENABLED: ${INDEXER_COSMOS_TLS_ENABLED}
      # soon to be deprecated cosmos vars#
      INDEXER_TENDERMINT_RPC: ${INDEXER_TENDERMINT_RPC}
      INDEXER_COSMOS_GRPC: ${INDEXER_COSMOS_GRPC}
      
      INDEXER_GRPC_LISTEN_ADDR: 0.0.0.0:9910
      INDEXER_HTTP_LISTEN_ADDR: 0.0.0.0:4444
      INDEXER_HTTP_TLS_CERT: /apps/data/public.crt
      INDEXER_HTTP_TLS_KEY: /apps/data/private.key
      INDEXER_HTTP_HORACLE_ADDR: ${INDEXER_HTTP_HORACLE_ADDR}
      INDEXER_HTTP_EP_ADDR: ${INDEXER_HTTP_EP_ADDR}
      INDEXER_HEALTH_BLOCKDIFF_THRESHOLD: 30
      INDEXER_HEALTH_TIMEDIFF_THRESHOLD: 60
      # Soon to be deprecated horacle env vars
      INDEXER_HTTP_HORACLE_BLOCK_THRESHOLD: 30
      INDEXER_HTTP_HORACLE_TIMESTAMP_THRESHOLD:  60
    ports:
      - 6069:6060
      - 19912:9910
      - 14443:4444
    deploy:
      resources:
        limits:
          memory: 8G
    networks:
      - injective

  indexer-eventprovider-api:
    container_name: indexer-eventprovider-api
    image: public.ecr.aws/l9h3g6c6/injective-indexer:${EVENTPROVIDER_API_VERSION}
    pull_policy: always
    restart: always
    command: injective-indexer eventprovider-api
    logging:
      driver: journald
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${HOSTNAME}
    environment:
      # universal
      INDEXER_LOG_LEVEL: ${LOG_LEVEL}
      INDEXER_ENV: ${APP_ENV}
      INDEXER_SERVICE_WAIT_TIMEOUTEVEL: 1m
      # bugsnag
      APP_ENV: ${APP_ENV}
      APP_VERSION: ${EVENTPROVIDER_APP_VERSION}
      LOG_BUGSNAG_KEY: ${LOG_BUGSNAG_KEY}
      LOG_BUGSNAG_ENABLED: ${LOG_BUGSNAG_ENABLED}
      ## statsd
      INDEXER_STATSD_AGENT: ${INDEXER_STATSD_AGENT}
      INDEXER_STATSD_PREFIX: indexer-eventprovider-api
      INDEXER_STATSD_ADDR: host.docker.internal:8125
      INDEXER_STATSD_STUCK_DUR: 5m
      INDEXER_STATSD_MOCKING: ${INDEXER_STATSD_MOCKING}
      INDEXER_STATSD_DISABLED: ${INDEXER_STATSD_DISABLED}
      ## pprof
      INDEXER_PPROF_ENABLED: "false"
      INDEXER_PPROF_ADDR: "0.0.0.0:6060"
      # cmd specific
      ## mongo
      INDEXER_DB_MONGO_CONNECTION: ${INDEXER_DB_MONGO_CONNECTION}
      INDEXER_DB_MONGO_DBNAME: eventProviderV2
      INDEXER_DB_MONGO_ASYNC_INDEXING: "true"
      ## cosmos
      INDEXER_PROTO_ALLOW_UNKNOWN_FIELDS: ${INDEXER_PROTO_ALLOW_UNKNOWN_FIELDS}
      INDEXER_COSMOS_CHAIN_ID: ${CHAIN_ID}
      INDEXER_COSMOS_GRPC_ENDPOINTS: ${INDEXER_COSMOS_GRPC_ENDPOINTS}
      INDEXER_TENDERMINT_RPC_ENDPOINTS: ${INDEXER_TENDERMINT_RPC_ENDPOINTS}
      INDEXER_COSMOS_TLS_ENABLED: ${INDEXER_COSMOS_TLS_ENABLED}
      # soon to be deprecated cosmos vars#
      INDEXER_TENDERMINT_RPC: ${INDEXER_TENDERMINT_RPC}
      INDEXER_COSMOS_GRPC: ${INDEXER_COSMOS_GRPC}
      ## service
      INDEXER_HTTP_LISTEN_ADDR: 0.0.0.0:4444
      INDEXER_GRPC_LISTEN_ADDR: 0.0.0.0:9910
      INDEXER_HTTP_TLS_CERT: /apps/data/public.crt
      INDEXER_HTTP_TLS_KEY: /apps/data/private.key
      INDEXER_HTTP_HORACLE_ADDR: ${INDEXER_HTTP_HORACLE_ADDR}
      INDEXER_HTTP_EP_ADDR: ${INDEXER_HTTP_EP_ADDR}
      INDEXER_HEALTH_BLOCKDIFF_THRESHOLD: 30
      INDEXER_HEALTH_TIMEDIFF_THRESHOLD: 60
      # Soon to be deprecated horacle env vars
      INDEXER_HTTP_HORACLE_BLOCK_THRESHOLD: 30
      INDEXER_HTTP_HORACLE_TIMESTAMP_THRESHOLD:  60
    ports:
      - 4443:4444
      - 6070:6060
      - 9912:9910
    deploy:
      resources:
        limits:
          memory: 4G
    networks:
      - injective
  indexer-web3gw-api:
    container_name: indexer-web3gw-api
    image: public.ecr.aws/l9h3g6c6/injective-indexer:${WEB3GW_APP_VERSION}
    restart: always
    command: injective-indexer web3gw-api
    logging:
      driver: journald
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ${HOSTNAME}
    environment:
      # universal
      INDEXER_LOG_LEVEL: ${LOG_LEVEL}
      INDEXER_ENV: ${APP_ENV}
      INDEXER_SERVICE_WAIT_TIMEOUTEVEL: 1m
      # bugsnag
      APP_ENV: ${APP_ENV}
      APP_VERSION: ${WEB3GW_APP_VERSION}
      LOG_BUGSNAG_KEY: ${LOG_BUGSNAG_KEY}
      LOG_BUGSNAG_ENABLED: ${LOG_BUGSNAG_ENABLED}
      ## statsd
      INDEXER_STATSD_AGENT: ${INDEXER_STATSD_AGENT}
      INDEXER_STATSD_PREFIX: indexer-web3gw-api
      INDEXER_STATSD_ADDR: host.docker.internal:8125
      INDEXER_STATSD_STUCK_DUR: 5m
      INDEXER_STATSD_MOCKING: ${INDEXER_STATSD_MOCKING}
      INDEXER_STATSD_DISABLED: ${INDEXER_STATSD_DISABLED}
      ## pprof
      INDEXER_PPROF_ENABLED: "false"
      INDEXER_PPROF_ADDR: "0.0.0.0:6060"
      # cmd specific
      ## cosmos
      INDEXER_COSMOS_GRPC_ENDPOINTS: ${INDEXER_COSMOS_GRPC_ENDPOINTS}
      INDEXER_TENDERMINT_RPC_ENDPOINTS: ${INDEXER_TENDERMINT_RPC_ENDPOINTS}
      INDEXER_COSMOS_CHAIN_ID: ${CHAIN_ID}
      INDEXER_FEE_PAYER_PK: ${EXCHANGE_FEE_PAYER_PK}
      INDEXER_GAS_ADJUSTMENT_COEF: 1.5
      # soon to be deprecated cosmos vars#
      INDEXER_TENDERMINT_RPC: ${INDEXER_TENDERMINT_RPC}
      INDEXER_COSMOS_GRPC: ${INDEXER_COSMOS_GRPC}
      ## service
      INDEXER_GRPC_LISTEN_ADDR: 0.0.0.0:9910
      INDEXER_HTTP_LISTEN_ADDR: 0.0.0.0:4444
      INDEXER_HTTP_TLS_CERT: /apps/data/public.crt
      INDEXER_HTTP_TLS_KEY:  /apps/data/private.key
      INDEXER_WEB3GW_HTTP_HEALTH_CHECK_ENDPOINT: ${INDEXER_WEB3GW_HTTP_HEALTH_CHECK_ENDPOINT}
    ports:
      - 4448:4444
      - 9914:9910
      - 6078:6060
    deploy:
      resources:
        limits:
          memory: 4G
    networks:
      - injective
